div.title {
    text-align:left;
    color: black;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 100%;

}

div.compQ {
    text-align:center;
    color: black;
    position: absolute;
    top: 60%;
    left:0%;
    width: 100%;
}

div.wordfrag {
    text-align:center;
    color: black;
    position: absolute;
    top: 60%;
    left:0%;
    width: 100%;
}

div.stim {
    text-align:center;
    color: black;
    position: absolute;
    top: 60%;
    left:0%;
    width: 100%;
}

div.prompt {
    text-align:center;
    color: black;
    position: absolute;
    top: 70%;
    left:0%;
    width: 100%;
}

div.recog_inst_inQ {
    text-align:center;
    color: black;
    position: absolute;
    top: 60%;
    left:0%;
    width: 100%;
}

div.instruction {
    text-align:center;
    color: black;
    position: absolute;
    top: 60%;
    left:0%;
    width: 100%;
}

p.feedback{
    text-align: center;
    color: green;
}

