div.title {
    text-align:left;
    color: black;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;

}

div.stim {
    text-align:center;
    color: black;
    position: absolute;
    top: 60%;
    left:0%;
    width: 100%;
}

div.instruction {
    text-align:center;
    color: black;
    position: absolute;
    top: 60%;
    left:0%;
    width: 100%;
}

p.feedback{
    text-align: center;
    color: green;
}
